<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.YOU_I.model.DAO">

	<insert id="user_join" parameterType="com.YOU_I.model.User_DTO">

		INSERT INTO TBL_USER(ID, PW, GENDER, NICK, REGION, HOBBY, PHONE, TUTORIAL_ST, PROFILE_IMG, USER_ROLE, JOINED_AT)
		VALUES(#{id}, #{pw}, #{gender}, #{nick}, #{region}, #{hobby}, #{phone}, #{tutorialSt}, #{profileImg}, #{userRole} ,#{joinedAt})

	</insert>

	<select id="user_login" parameterType="com.YOU_I.model.User_DTO" resultType="com.YOU_I.model.User_DTO">

		SELECT ID
		FROM TBL_USER
		WHERE id = #{id} AND pw = #{pw}

	</select>


	<insert id="addSchedule" parameterType="com.YOU_I.model.calendar_DTO">
		INSERT INTO tbl_schedule (sche_title, sche_content, sche_st_date, sche_end_date, group_no)
		VALUES (#{scheTitle}, #{scheContent}, #{scheStDate, jdbcType=DATE}, #{scheEndDate, jdbcType=DATE}, 1)
	</insert>

	<select id="getSchedules" resultType="com.YOU_I.model.calendar_DTO">
		SELECT SCHE_NO AS scheNo, SCHE_TITLE AS scheTitle, SCHE_ST_DATE AS scheStDate, SCHE_END_DATE AS scheEndDate, SCHE_CONTENT AS scheContent
		FROM TBL_SCHEDULE
	</select>

	<select id="rank" resultMap="gr_rank">
		SELECT ROWNUM , GROUP_CATEGORY, GROUP_LIKES, GROUP_NAME
		FROM (SELECT GROUP_CATEGORY, GROUP_LIKES, GROUP_NAME
		FROM TBL_GROUP
		ORDER BY GROUP_LIKES DESC)
		WHERE ROWNUM &lt;=4
	</select>


	<resultMap type="com.YOU_I.model.Group_DTO" id="gr_rank">
		<result property="groupCategory" column="GROUP_CATEGORY" />
		<result property="groupLikes" column="GROUP_LIKES" />
		<result property="groupName" column="GROUP_NAME" />
	</resultMap>

	<select id="rankCt" parameterType="java.lang.String" resultMap="gr_rank">
		SELECT ROWNUM, GROUP_CATEGORY, GROUP_LIKES, GROUP_NAME
		FROM (
		SELECT GROUP_CATEGORY, GROUP_LIKES, GROUP_NAME
		FROM TBL_GROUP
		WHERE
		GROUP_CATEGORY = #{groupCategory, jdbcType=VARCHAR}
		ORDER BY
		GROUP_LIKES DESC)
		WHERE ROWNUM &lt;= 4
	</select>


	<insert id="fileUpload" parameterType="com.YOU_I.model.File_DTO">

INSERT INTO TBL_FILE(COMM_NO, FILE_NAME, FILE_ORI_NAME, FILE_THUMB, FILE_S3_PATH, FILE_SIZE, EXT, UPLOADED_AT)
VALUES(#{commNo} , #{fileName}, #{fileOriName}, #{fileThumb}, #{fileS3Path}, #{fileSize}, #{ext}, #{uploadedAt})

</insert>
	

	<insert id="addGroup" parameterType="com.YOU_I.model.Group_DTO">
		
			
		INSERT INTO tbl_group (group_name, group_category)
		VALUES (#{groupName}, #{groupCategory})
	</insert>
	<insert id="commContent" parameterType="com.YOU_I.model.community_DTO">
	insert into tbl_community (group_no,comm_title,comm_content,id) values(2,'title',#{commContent},'id 0117')
	</insert>















</mapper>