<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.YOU_I.model.DAO">

<insert id="user_join" parameterType="com.YOU_I.model.User_DTO">

INSERT INTO TBL_USER(ID, PW, GENDER, NICK, REGION, HOBBY, PHONE, TUTORIAL_ST, PROFILE_IMG, USER_ROLE, JOINED_AT)
VALUES(#{id}, #{pw}, #{gender}, #{nick}, #{region}, #{hobby}, #{phone}, #{tutorialSt}, #{profileImg}, #{userRole} ,#{joinedAt})

</insert>

<select id="user_login" parameterType="com.YOU_I.model.User_DTO" resultType="com.YOU_I.model.User_DTO">

SELECT ID
FROM TBL_USER
WHERE id = #{id} AND pw = #{pw}

</select>

<insert id="addGroup" parameterType="com.YOU_I.model.Group_DTO">
        <!-- <selectKey> 요소를 추가하여 실제 삽입 전에 시퀀스 tbl_group_SEQ.NEXTVAL에서 다음 값 가져오기를 수행
         이 값은 그런 다음 group_DTO 객체의 groupNo 속성에 설정됨. --> 
        <selectKey keyProperty="groupNo" resultType="java.lang.Long" order="BEFORE">
            SELECT tbl_group_SEQ.NEXTVAL FROM DUAL
        </selectKey>
        INSERT INTO tbl_group (group_no, group_name, group_category, created_at)
        VALUES (#{groupNo}, #{groupName}, #{groupCategory}, #{createdAt, jdbcType=TIMESTAMP});
 </insert>



















</mapper>